.feature{
    cursor: pointer;
   
 }
 .featureBody{
     background-color:white;
 }

 .featureContent{
    margin-left:180px;
    text-align: justify;
}
@media (max-width:768px){
    .featureContent{
        margin-left:0px;
        text-align: justify;
    }
}